{
  "env": {
    "test": {
      "presets": []
    },
    "development": {
      "presets": []
    },
    "production": {
      "presets": []
    }
  },
  "plugins": [
    [
      "root-import",
      {
        "rootPathSuffix": "source"
      }
    ]
  ]
}